* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:"Noto Sans SC", 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f5f7fa;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}
 .main-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: "Noto Sans SC", sans-serif !important;
  }